<main class="mx-auto mt-10 max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
    <div class="sm:text-center lg:text-left flex flex-col space-y-16">
        <div>
            <h1 class="text-4xl font-bold tracking-tight text-red-600 sm:text-5xl md:text-6xl">
                <span class="block xl:inline">About Us!</span>
                <span class="block text-red-800 xl:inline">aka, the buds.</span>
            </h1>
            <p class="mt-3 text-base text-white sm:mx-auto sm:mt-5 sm:max-w-xl sm:text-lg md:mt-5 md:text-xl lg:mx-0">Well, first, let's get to know the product. <br> Then we can talk about the super rad creators.</p>
        </div>
        <div class="pt-10">
            <h2 class="text-3xl font-bold tracking-tight text-red-600 sm:text-3xl md:text-4xl">Explore the World of Budget Buddy</h2>  
            <p class="mt-3 text-base text-white sm:mx-auto sm:mt-5 sm:max-w-xl sm:text-lg md:mt-5 md:text-xl lg:mx-0">Budget Buddy is an easy-to-use budgeting app. It was created to simplify the continuous task of keeping track of your finances.<br> To create an account, all we need is your name, email, and a password of your choosing (we don't want your credit card info).</p>
        </div>
        <div>
            <h2 class="text-3xl font-bold tracking-tight text-red-600 sm:text-3xl md:text-4xl">Introducing the Creators of Bud Bud...</h2>
            <container></container>
        </div>
    </div>

    <h2 class="pt-10 text-3xl font-bold tracking-tight text-red-600 sm:text-3xl md:text-4xl">Meet the Buds</h2>
    <div class="pt-5 container mx-auto columns-5 gap-5">
        
        <div class="box-content w-20%">
            <img src="../images/Shawn_photo.jpg" alt="Shawn's Portrait" style="width:100%">
            <h3 class="text-2xl text-center font-bold tracking-tight text-red-600">Shawn</h3>
        </div>
        <div class="box-content w-20%">
            <img src="../images/Jeremy_photo.jpg" alt="Jeremy's Portrait" style="width:100%">
            <h3 class="text-2xl text-center font-bold tracking-tight text-red-600">Jeremy Parson</h3>
        </div>
        <div class="box-content w-20%">
            <img src="../images/Ashlynn_photo.jpg" alt="Ashlynn's Portrait" style="width:100%">
            <h3 class="text-2xl text-center font-bold tracking-tight text-red-600">Ashlynn Landry</h3>
        </div>
        <div class="box-content w-20%">
            <img src="../images/Indigo_photo.jpg" alt="Indigo's Portrait" style="width:100%">
            <h3 class="text-2xl text-center font-bold tracking-tight text-red-600">Indigo Crandell</h3>
        </div>
        <div class="box-content w-20%">
            <img src="../images/Cristina_photo.jpg" alt="Cristina's Portrait" style="width:100%">
            <h3 class="text-2xl text-center font-bold tracking-tight text-red-600">Cristina Yunes</h3>
        </div>
    </div>
</main>
