<section class='border border-solid border-black mt-6 min-h-screen'>
  <!--Establishes grid-->
  <section>
    <!--Start of budget-->
    {{#switch check}}
      {{#case 'budget'}}
        <section>
          <!--Start of budget-->
          <section
            class='border border-solid border-red-900 text-center bg-blue-600'
          >
            <p>This will be the Budget. Household id is '{{check}}'</p>
            <form class='grid grid-cols-11 form' id='budgetForm'>
              <div class='col-span-5'>
                <h1>Name of Item/budget/idk</h1>
                <input
                  type='text'
                  id='budgetName'
                  class='form-control mb-5 w-full h-42px rounded-md p-2 name'
                  placeholder='E.g., Entertainment'
                />
                <!-- Password field -->
              </div>
              <div class='col-span-5'>
                <h1>Amount</h1>
                <input
                  type='text'
                  id='budgetAmount'
                  class='form-control mb-5 w-full h-42px rounded-md p-2 amount'
                  placeholder='E.g., 400'
                />
              </div>
              <button
                class='btn bg-red-400'
                type='submit'
                id='budgetBtn'
              >Submit</button>
            </form>
          </section>
        </section>
      {{/case}}
      {{#case 'expense'}}
        <section>
          <!--Start of budget-->
          <section
            class='border border-solid border-red-900 text-center bg-blue-600'
          >
            <p>This will be the Expenses</p>
            <form class='grid grid-cols-12 form' id='expenseForm'>
              <div class='col-span-4'>
                <h1>Name of Expense</h1>
                <input
                  type='text'
                  id='expenseName'
                  class='form-control mb-5 w-full h-42px rounded-md p-2 name'
                  placeholder='E.g., Groceries'
                />
                <!-- Password field -->
              </div>
              <div class='col-span-4'>
                <h1>Amount</h1>
                <input
                  type='text'
                  id='expenseAmount'
                  class='form-control mb-5 w-full h-42px rounded-md p-2 amount'
                  placeholder='E.g., 100'
                />
              </div>
              <div class='col-span-4'>
                <select name='budget' id='budgetID'>
                  {{#each budgetArr as |budget|}}
                  {{> budget-expense-selection}}
                  {{/each}}
                  <option>test</option>
                </select>
              </div>
              <button
                class='btn bg-red-400'
                type='submit'
                id='expenseBtn'
              >Submit</button>
            </form>
          </section>
        </section>
      {{/case}}
      {{#case 'income'}}
        <!--Start of Income-->
        <section>
          <section
            class='border border-solid border-red-900 text-center bg-blue-600'
          >
            <p>This will be the Budget</p>
            <form class='grid grid-cols-11 form' id='incomeForm'>
              <div class='col-span-5'>
                <h1>Name of Item/budget/idk</h1>
                <input
                  type='text'
                  id='incomeName'
                  class='form-control mb-5 w-full h-42px rounded-md p-2 name'
                  placeholder='E.g., Entertainment'
                />
              </div>
              <div class='col-span-5'>
                <h1>Amount</h1>
                <input
                  type='text'
                  id='incomeAmount'
                  class='form-control mb-5 w-full h-42px rounded-md p-2 amount'
                  placeholder='E.g., 400'
                />
              </div>
              <button
                class='btn bg-red-400'
                type='submit'
                id='incomeBtn'
              >Submit</button>
            </form>
          </section>
        </section>
      {{/case}}
    {{/switch}}
  </section>
  <script src='/js/addData.js'></script>
</section>