<!-- Render sub layouts here! -->
<!--Main page-->
<section class='border border-solid border-black mt-6 min-h-screen'>
  <!--Establishes grid-->
  <section class='grid grid-cols-2'>
    <!--Start of budget-->
    <section class='border border-solid border-red-900 text-center'>
      This will be the Budget
      <div>
        {{#each budgetRev as |budget|}}
        {{> budget-dashboard}}
        {{/each}}
      </div>
      <div>
        <button class="btn btn-red bg-white" id="budgetAdd" data-type="1">Add</button>
      </div>
    </section>
    <section class='border border-solid border-green-900 text-center'>
      <!--Start of Expenses-->
      <section class='border border-solid border-blue-900 text-center'>
        <p>This will be the Expenses</p>
        <div>Start of expenses
          {{#each expenseRev as |expense|}}
          {{> expense-dashboard}}
          {{/each}}
        </div>
        <button class="btn btn-red bg-white" id="expenseAdd" dataType="2">Add</button>
      </section>
      <!--Start of Income-->
      <section class='border border-solid border-orange-900 text-center'>
        <p>This will be the Income</p>
        <div>Start of Income
          {{#each incomeRev as |income|}}
          {{> income-dashboard}}
          {{/each}}
        </div>
        <button class="btn btn-red bg-white" id="incomeAdd" dataType="3">Add</button>
      </section>
    </section>
  </section>
</section>

<script src="./js/add.js"></script>