<!-- Render sub layouts here! -->
<!--Main page-->
<section class='container mx-auto mt-9 m-6 min-h-screen'>
  <!--Establishes grid-->
  <section class='grid grid-cols-2 space-x-6 sm:grid-cols-1 md:grid-cols-2'>
    <!--Start of budget-->
    <section class='text-center bg-white rounded-md py-3 px-2 sm:my-5 md:my-0 mx-0'>
      <h2 class="text-red-600 text-3xl font-semibold">Budget</h2>
      <div class="grid grid-cols-3 mx-3 text-xl font-medium pb-3">
        <h3 class='justify-self-start'>Category</h3>
        <h3>Amount</h3>
        <h3 class="justify-self-end">Edit</h3>
      </div>
      <div class="flex flex-col">
        {{#each budgetRev as |budget|}}
        {{> budget-dashboard}}
        {{/each}}
      </div>
      <div>
        <button class="btn btn-red bg-red-600 rounded-md px-2 py-1.5 text-white mt-2" id="budgetAdd" data-type="1">Add Category</button>
        <button class="btn btn-red bg-red-600 rounded-md px-2 py-1.5 text-white mt-2" id="viewAllBudget" data-type="1">View All</button>
      </div>
    </section>
    <section class='space-y-6 text-center'>
      <!--Start of Expenses-->
      <section class='text-center bg-white rounded-md py-3 px-2'>
        <h2 class="text-red-600 text-3xl font-semibold">Expenses</h2>
      <div class="grid grid-cols-3 mx-3 text-xl font-medium pb-3">
        <h3 class='justify-self-start'>Category</h3>
        <h3>Amount</h3>
        <h3 class="justify-self-end">Edit</h3>
      </div>
        <div class="flex flex-col">
          {{#each expenseRev as |expense|}}
          {{> expense-dashboard}}
          {{/each}}
        </div>
        <button class="btn btn-red bg-red-600 rounded-md px-2 py-1.5 text-white mt-2" id="expenseAdd" dataType="2">Add Expense</button>
        <button class="btn btn-red bg-red-600 rounded-md px-2 py-1.5 text-white mt-2" id="viewAllExpense" data-type="2">View All</button>
      </section>
      <!--Start of Income-->
      <section class='text-center bg-white rounded-md py-3 px-2'>
        <h2 class="text-red-600 text-3xl font-semibold">Income</h2>
      <div class="grid grid-cols-3 mx-3 text-xl font-medium pb-3">
        <h3 class='justify-self-start'>Category</h3>
        <h3>Amount</h3>
        <h3 class="justify-self-end">Edit</h3>
      </div>
        <div class="flex flex-col">
          {{#each incomeRev as |income|}}
          {{> income-dashboard}}
          {{/each}}
        </div>
        <button class="btn btn-red bg-red-600 rounded-md px-2 py-1.5 text-white mt-2" id="incomeAdd" dataType="3">Add Income</button>
        <button class="btn btn-red bg-red-600 rounded-md px-2 py-1.5 text-white mt-2" id="viewAllIncome" data-type="3">View All</button>
      </section>
    </section>
  </section>
    <!-- Modal content -->
  <div id="editModal" class="modal hidden">
    <div class="modal-content text-center bg-white rounded-md py-3 px-2 pt-5 mt-6">
      <span id="modalClose" class="btn">&times;</span>
      <h3 id="modalHeader">Editing</h3>
      <form class='form login-form grid grid-cols-2' id='editForm'>
        <div class='form-group'>
          <input id='editName' type="text" class="block border border-grey-light w-full p-3 rounded mb-4" placeholder="Update Name"/>
        </div>
        <div class='form-group'>
          <input type="text" id='editAmount' class="block border border-grey-light w-full p-3 rounded mb-4" placeholder="Update Amount" />
        </div>
        <button class="btn btn-red bg-red-500 rounded-md px-2 py-1.5 text-white mt-2" type="submit">
          Submit
        </button>
      </form>
    </div>
  </div>
  <div class='text-center bg-white rounded-md py-3 px-2 pt-5 mt-6'>
    <div class="grid grid-cols-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
      <div class="col-span-4 text-red-600 text-3xl font-semibold">Totals</div>
      <div class="col-span-1">
        <div class="text-red-600 text-xl font-semibold">Budget</div>
        <div>{{budgetTotal}}</div>
      </div>
      <div class="col-span-1">
        <div class="text-red-600 text-xl font-semibold">Expenses</div>
        <div>{{expenseTotal}}</div>
      </div>
      <div class="col-span-1">
        <div class="text-red-600 text-xl font-semibold">Income</div>
        <div>{{incomeTotal}}</div>
      </div>
      <div class="col-span-1">
        <div class="text-red-600 text-xl font-semibold">Est. Savings</div>
        <div>{{savingTotal}}</div>
      </div>
    </div>
  </div>
</section>

<script src="./js/add.js"></script>
<script src="./js/viewAll.js"></script>
<script src="./js/editDelete.js"></script>