<!-- Render sub layouts here! -->
<!--Main page-->
<section class='mt-9 m-6 min-h-screen'>
  <!--Establishes grid-->
  <section class='grid grid-cols-2 space-x-6'>
    <!--Start of budget-->
    <section class='text-center bg-white rounded-md py-3 px-2'>
      <h2 class="text-red-600 text-3xl font-semibold">Budget</h2>
      <div class="flex flex-row justify-between mx-3 text-xl font-medium pb-3">
        <h3>Category</h3>
        <h3>Amount</h3>
      </div>
      <div class="flex flex-col">
        {{#each budgetRev as |budget|}}
        {{> budget-dashboard}}
        {{/each}}
      </div>
      <div>
        <button class="btn btn-red bg-red-600 rounded-md px-2 py-1.5 text-white mt-2" id="budgetAdd" data-type="1">Add Category</button>
        <button class="btn btn-red bg-red-600 rounded-md px-2 py-1.5 text-white mt-2" id="viewAllBudget" data-type="1">View All</button>
      </div>
    </section>
    <section class='space-y-6 text-center'>
      <!--Start of Expenses-->
      <section class='text-center bg-white rounded-md py-3 px-2'>
        <h2 class="text-red-600 text-3xl font-semibold">Expenses</h2>
        <div class="flex flex-row justify-between mx-3 text-xl font-medium pb-3">
          <h3>Purchase</h3>
          <h3>Amount</h3>
        </div>
        <div class="flex flex-col">
          {{#each expenseRev as |expense|}}
          {{> expense-dashboard}}
          {{/each}}
        </div>
        <button class="btn btn-red bg-red-600 rounded-md px-2 py-1.5 text-white mt-2" id="expenseAdd" dataType="2">Add Expense</button>
        <button class="btn btn-red bg-red-600 rounded-md px-2 py-1.5 text-white mt-2" id="viewAllExpense" data-type="2">View All</button>
      </section>
      <!--Start of Income-->
      <section class='text-center bg-white rounded-md py-3 px-2'>
        <h2 class="text-red-600 text-3xl font-semibold">Income</h2>
        <div class="flex flex-row justify-between mx-3 text-xl font-medium pb-3">
          <h3>Source</h3>
          <h3>Amount</h3>
        </div>
        <div class="flex flex-col">
          {{#each incomeRev as |income|}}
          {{> income-dashboard}}
          {{/each}}
        </div>
        <button class="btn btn-red bg-red-600 rounded-md px-2 py-1.5 text-white mt-2" id="incomeAdd" dataType="3">Add Income</button>
        <button class="btn btn-red bg-red-600 rounded-md px-2 py-1.5 text-white mt-2" id="viewAllIncome" data-type="3">View All</button>
      </section>
    </section>
  </section>
</section>

<script src="./js/add.js"></script>
<script src="./js/viewAll.js"></script>