<body class='bg-red-600'>
  <main class='p-[10%]'>

    <div
      class='flex flex-wrap flex-col justify-center h-fit mx-auto pt-5 pb-5 w-[90%] mb-[10%] bg-local visible'
    >
      <h1 class='font-bold text-[34px] leading-loose mb-5 text-red-600'>Log in
        to your account</h1>
      <!-- This sections is for the two main log in fields -->

      <section id="main-fields">
      <!-- Username field -->
      <input type="text" id="email" class="form-control mb-5 w-full h-42px rounded-md p-2" placeholder="Email address">
      <!-- Password field -->
      <input type="password" id="password" class="form-control mb-5 w-full h-42px rounded-md p-2" placeholder="Password">

      </section>

      <!-- This section will separate the remember-me and forgot password from main fields -->
      <section
        class='font-medium grid grid-flow-col grid-cols-{2} text-red-600 leading-8 pb-6 text-[20px]'
      >
        <!-- Remember me checkbox -->
        <div class="cursor-default">
          <input type='checkbox' value='remember-me' text="Remember me" />
          <label>Remember me</label>
        </div>
        <div>
          <a href='/signup'>Create an account</a>
        </div>
      </section>

      <section id='sign-in' class='flex justify-center'>
        <button
          type='button'
          class='font-medium bg-red-600 rounded-md p-2 w-full text-white'
        >Sign in</button>
      </section>
    </div>

  </main>
</body>

<script src='js/login.js'></script>