<!--Establishes grid-->
<section class='mt-6 min-h-screen'>
  <!--Start of budget-->
  <section class="mt-9 m-6 min-h-screen">
    <section>
      <a 
        href="#"
        class="bg-red-600 rounded-md text-white font-medium mx-4 my-2 py-1.5 px-2"
        aria-current='page'
      >Back</a>
      <section
        class='text-center bg-white rounded-md m-4 p-3'
      >
        <h1 class="text-red-600 text-3xl font-bold">Create a Budget</h1>
        <form class='form' id='budgetForm'>
          <div class='grid grid-cols-2 gap-4 mt-3'>
            <div class="form-group mb-6">
              <h1 class="font-regular mb-1 text-xl">Budget Category</h1>
              <input
                type='text'
                id='budgetName'
                class='form-control name block
                    w-full
                    px-3
                    py-1.5
                    text-base
                    font-normal
                    text-gray-700
                    bg-white bg-clip-padding
                    border border-solid border-gray-300
                    rounded
                    transition
                    ease-in-out
                    m-0
                    focus:text-gray-700 focus:bg-white focus:border-red-600 focus:outline-none'
                    placeholder="E.g., Entertainment">
              <!-- Password field -->
            </div>

            <div class='form-group mb-6'>
              <h1 class="font-regular text-xl mb-1">Amount</h1>
              <input
                type='text'
                id='budgetAmount'
                class='form-control amount block
                      w-full
                      px-3
                      py-1.5
                      text-base
                      font-normal
                      text-gray-700
                      bg-white bg-clip-padding
                      border border-solid border-gray-300
                      rounded
                      transition
                      ease-in-out
                      m-0
                      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none'
                      placeholder="E.g., 400">
            </div>
          </div>          
          <button
            type='submit'
            id='budgetBtn'
            class='w-full
              px-6
              font-medium 
              bg-red-600 
              rounded-md 
              p-2 
              text-white
              leading-tight
              shadow-md
              hover:bg-red-700 hover:shadow-lg
              focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0
              active:bg-red-700 active:shadow-lg
              transition
              duration-150
              ease-in-out'>Add To Budget</button>
        </form>
        <div class="flex justify-center">
            <!-- Bouncing Guide! -->
            <span id="tutorial-add" class="flex flex-col mt-4 animate-bounce rounded-md p-2 border-solid border-2 border-red-600 text-red-600 font-medium  text-sm text-center max-w-xs">⇧<br>add budget category 
            </span>
        </div>
      </section>
    <a href="/tutorialEdit" class="fixed right-20 bottom-10 mt-4 rounded-md p-5 bg-white text-red-600 font-bold text-md text-center max-w-xs border border-solid border-4 border-violet-900" id="nextTutorial">Next</a>
    <a href="/dashboard" class="fixed right-40 bottom-10 mt-4 rounded-md p-5 bg-white text-red-600 font-bold text-md text-center max-w-xs border border-solid border-4 border-violet-900" id="nextTutorial">Skip Tutorial</a>
    </section>
</section>