<section class='border border-solid border-red-900 text-center bg-blue-600'>
  <p>This will be the Budget</p>
  <form class='grid grid-cols-11' id='budgetForm'>
    <div class='col-span-11'>
      <h1>Name of Household</h1>
      <input
        type='text'
        id='houseHoldName'
        class='form-control mb-5 w-full h-42px rounded-md p-2'
        placeholder='E.g., Home'
      />
      <!-- Password field -->
    </div>
    <div class='col-span-5'>
      <h1>Budget Name</h1>
      <input
        type='text'
        id='budgetName'
        class='form-control mb-5 w-full h-42px rounded-md p-2'
        placeholder='E.g., 400'
      />
    </div>
    <div class='col-span-5'>
      <h1>Budget Amount</h1>
      <input
        type='text'
        id='budgetAmount'
        class='form-control mb-5 w-full h-42px rounded-md p-2'
        placeholder='E.g., 400'
      />
    </div>
    <div class='col-span-11'>
      <button class='btn bg-red-400' id='budgetBtn'>
        Get Started
      </button>
    </div>
  </form>
</section>