<div class='grid grid-cols-2 flex flex-row mx-3 text-lg'>
  <div class='justify-self-start'>
    <p id='{{id}}'>{{name}}</p>
  </div>
  <div class='grid grid-cols-2 justify-self-end'>
    <p>{{amount}}</p>
    <button class='btn editIncomeBtn justify-self-end' id='{{id}}'>✏️</button>
  </div>
</div>