  <!-- bouncing animation for tutorial; make it a PARTIAL -->
  <div  data-id="2" id="tutorial-3" class="hidden">
        <span class="flex flex-col self-center mt-4 animate-bounce rounded-md p-2 bg-blue-400 text-white text-sm text-center max-w-xs">^<br>Add income here 
        </span>
  </div>