        <!-- bouncing animation for tutorial; make it a PARTIAL -->
        <span id="tutorial-1" class="flex flex-col self-center mt-4 animate-bounce rounded-md p-2 bg-red-400 text-white text-sm text-center max-w-xs">^<br>Add budget categories here 
        </span>