<div class='flex grid grid-cols-3 mx-3 text-lg'>
  <div class="flex justify-self-start">
    <p>{{name}}</p>
  </div>
  <div>
    <p>{{amount}}</p>
  </div>
  <div class="flex justify-self-end">
    <p>{{budget.name}}</p>
  </div>
</div>