<div class='flex flex-row justify-between mx-3 text-lg'>
  <div>
    <p>{{name}}</p>
  </div>
  <div>
    <p>{{amount}}</p>
  </div>
  <div>
    <p>{{budgetLeftover}}</p>
  </div>
  <button class='btn viewOne' id='{{id}}'>
    👀
  </button>
</div>