<div class='grid grid-cols-3 place-content-evenly justify-between mx-3 text-lg'>
  <div>
    <p>{{name}}</p>
  </div>
  <div class='self-center'>
    <p>{{amount}}</p>
  </div>
  <div>
    <p>{{budget.name}}</p>
  </div>
</div>