<div class='flex grid grid-cols-4 justify-between mx-3 text-lg'>
  <div class="flex justify-self-start">
    <p>{{name}}</p>
  </div>
  <div class="pl-10 flex justify-self-start">
    <p>{{amount}}</p>
  </div>
  <div class="pr-10 flex justify-self-end">
    <p>{{budgetLeftover}}</p>
  </div>
  <button class='btn viewOne flex justify-self-end' id='{{id}}'>
    👀
  </button>
</div>