<div class='mx-3 text-lg grid grid-cols-4 place-content-evenly'>
  <div>
    <p>{{name}}</p>
  </div>
  <div>
    <p>{{amount}}</p>
  </div>
  <div>
    <p>{{budgetLeftover}}</p>
  </div>
  <button class='btn viewOne' id='{{id}}'>
    👀
  </button>
</div>