<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MVC</title>

    <!--tailwind linking-->
    <script rel="stylesheet" src="https://cdn.tailwindcss.com"></script>

  </head>

  <body>
    <header>
      <h1>Budget Buddy</h1>
      <nav>
        {{#if logged_in}}
        <button class="no-button bg-red-600 p-3 rounded-md" id="logout">Logout</button>
        <a class="bg-red-600 p-3 mr-2 rounded-md" href="/dashboard">My Dashboard</a>
        {{else}}
        <a class="bg-red-600 p-3 mr-2 rounded-md" href="/login">Login</a>
        <a class="bg-red-600 p-3 mr-2 rounded-md" href="/signup">Sign Up</a>
        {{/if}}
        <a class="bg-red-600 p-3 mr-2 rounded-md" href="">About Us</a>
      </nav>
    </header>
    <main>
      <!-- Render sub layouts here! -->
      {{{body}}}
    </main>

    <!-- if user is logged in, include script for logout js -->
    {{#if logged_in}}
    <script src="js/logout.js"></script>
    {{/if}}
    
  </body>

</html>