<html lang='en'>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Budget Buddy Homepage</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="./images/BudBud_logo.png">
    <!-- Tailwind CSS -->
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css'
    />
    <!-- Connecting stylesheet for additional personalized css-->
    <link rel="stylesheet" type="text/css" href="/Assets/public/style.css" />

  </head>

  <body class='bg-violet-900'>
    <nav class='bg-white'>
      <div class='mx-auto max-w-7xl px-2 sm:px-6 lg:px-8'>
        <div class='relative flex h-16 items-center justify-between'>
          <a href="/">
            <img style="width:25px" src="/images/BudBud_logo.png">
          </a>
          <a href="/">
            <h1 class="text-red-600 font-bold text-3xl"><span class="text-violet-900">ud</span>get</h1>
          </a>
          <a href="/">
            <h1 class="text-red-600 font-bold text-3xl ml-2"><span class="text-violet-900">Bud</span>dy</h1>
          </a>
          <div class="absolute inset-y-0 left-0 flex items-center sm:hidden"></div>
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-end">
              <div class="hidden sm:ml-6 sm:block">
                <div class="flex space-x-4">
                
                  <a href="/aboutus" class="bg-red-500 text-white px-3 py-2 rounded-md text-sm font-medium ml-10" aria-current="page">About Us</a> 

                  {{#if loggedIn}}
                  <button class="bg-red-500 text-white px-3 py-2 rounded-md text-sm font-medium" id="logout">Logout</button>
                  <a href="/dashboard" class="bg-red-500 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Dashboard</a>
                  {{!-- <button class="bg-red-500 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page" id="houseHoldAddBtn">Add your Household</a> --}}

                {{else}}
                  <a
                    href='/signup'
                    class='bg-red-500 text-white px-3 py-2 rounded-md text-sm font-medium'
                    aria-current='page'
                  >
                  Sign Up</a>
                  <a
                    href='/login'
                    class='bg-red-500 text-white px-3 py-2 rounded-md text-sm font-medium'
                    aria-current='page'
                  ><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 float-left mr-1">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                    </svg>Login</a>
                  
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Mobile menu, show/hide based on menu state. -->
      <div class='sm:hidden' id='mobile-menu'>
        <div class='space-y-1 px-2 pt-2 pb-3'>
          <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
          {{#if loggedIn}}
            <button
              class='no-button bg-red-600 p-3 rounded-md'
              id='logoutSm'
            >Logout</button>
            <a
              href='/dashboard'
              class='bg-red-500 text-white px-3 py-2 rounded-md text-sm font-medium'
              aria-current='page'
            >Dashboard</a>
          {{else}}
            <a
              href='/login'
              class='bg-red-500 text-white px-3 py-2 rounded-md text-sm font-medium'
              aria-current='page'
            >Login</a>
            <a
              href='/signup'
              class='bg-red-500 text-white px-3 py-2 rounded-md text-sm font-medium'
              aria-current='page'
            >Sign Up</a>

          {{/if}}
          <a
            href='#'
            class='bg-red-500 text-white px-3 py-2 rounded-md text-sm font-medium'
            aria-current='page'
          >About Us</a>
        </div>
      </div>
    </nav>

    <main>
      <!-- Render sub layouts here! -->
      {{{body}}}
    </main>

    <!-- if user is logged in, include script for logout js -->
    {{#if loggedIn}}
    <script src="js/logout.js"></script>
    <script src="js/makeHousehold.js"></script>
    {{/if}}

    <!--tailwind linking-->
    <script rel='stylesheet' src='https://cdn.tailwindcss.com'></script>
    <!-- Tailwind Elements -->
    <script
      src='https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js'
    ></script>
    
  </body>
</html>