<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MVC</title>

    <!--tailwind linking-->
    <script rel="stylesheet" src="https://cdn.tailwindcss.com"></script>

  </head>

  <body>
    <header>
      <h1>Welcome to the ____!</h1>
    </header>
    <nav>
      <p>nav</p>
    </nav>

    <main>
      {{{body}}}
    </main>

  </body>

</html>